<head>
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <nav class="navbar">
        <a class="logo" href="/">cview</a>
        <div id="nav_links">
            <a href="/movies">Movies</a>
            <a href="/series">Series</a>
            <a href="/books">Books</a>
            <a class="login_btn_2" href="/login">Login</a>

        </div>
        <form class="search_field" action="/search" method="post">
            <input type="text" placeholder="search...">
            <button type="submit">&#128270;</button>
        </form>

        <a class="login_btn" href="/login">Login</a>

        <div class="burger" onclick="showLinks()">
            <div class="b1"></div>
            <div class="b2"></div>
            <div class="b3"></div>
        </div>
    </nav>
</body>

<script>
    const links = document.getElementById('nav_links')

    function showLinks() {
        if (links.style.display == "none") {
            links.style.display = "flex"
        } else {
            links.style.display = "none"
        }
    }

    window.onresize = () => {
        if (screen.availWidth > 870) {
            links.style.display = "flex"
        }
        else if (screen.availWidth < 870) {
            links.style.display = "none"
        }
    }
</script>

</html>