<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/style.css">


    <title>register</title>
</head>
<body>

    <%- include('navbar'); %>
    <div class="register">
        <div id="Register">
            <form method="post" action=""> 
            <h1>Register</h1> <br>
            
            <p> 
                <label for="nome_cad">Username</label><br>
                <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder />
            </p>
            <br>
            <p> 
                <label for="email_cad">Email</label><br>
                <input id="email_cad" name="email_cad" required="required" type="email" placeholder/> 
            </p>
            <br>
            <p> 
                <label for="senha_cad">Password</label><br>
                <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder/>
            </p>
            <br>
            <p> 
                <input type="submit" value="Register"/> 
            </p>
    </div>            


</body>
</html>