.container {
	padding: 0 2rem;
  }
  
  .main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .itemInfo {
    margin-top: 25px;
    width: 100%;
    height: 100%;
  }

.row {
    display: flex;
	flex-direction: row;
    justify-content: flex-start;
    column-gap: 5%;
	width: 100%;
    height: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.itemImg {
	width: 23%;
	height: 450px;
    border-radius: 15px;
}

.reviews {
    margin-top: 25px;
    width: 100%;
	color: #FFFFFF;
}

.uniqueReview{
    
    margin-top: 10px;
    display: flex;
    column-gap: 4%;

    min-height: 150px;
}


@media (max-width: 1000px) {
    .uniqueReview{
        flex-wrap: wrap;
        padding: 5px 0px;
        row-gap: 20px;
    }
}

/* unique review */
.uniqueReview img{
    width: 100px;
    height: 90px;

    background-color: #008000;
}

.username{
    display: flex;
}

.editDelBtns{
    display: flex;
    column-gap: 2%;
    
}
.editDelBtns button{
    width: 30px;
    height: 30px;
    font-size: 24px;

    border-radius: 0%;
    border: none;
    cursor: pointer;
}

/* add review */
.addReviewArea{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

.addReviewForm {
    width: 95%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addReviewForm .title {
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #1B263B;
}

.addReviewForm .rating {
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #1B263B;
}

.addReviewForm .body {
    height: 200px;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #1B263B;
}

.addButton{
   background-color: #008000;
   width: 100%;
   height: 40px;

   border: none;
   border-radius: 10px;
   color: #FFFFFF;
   font-size: 25px;
}
.addButton:hover{
    cursor: pointer;
    opacity: 0.7;
}